<div class="container">
  <h1>Welcome!</h1>
  <p>Your notes:</p>
 

  <% @all_notes.each do |note| %> 
 <p> <%= note.id%>.<%= note.content %></p>
  
<form action="/notes/<%=note.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete!"/>
</form>

  <% end %> 



</div>


